# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# System Files
.DS_Store
Thumbs.db

# dependencies
/node_modules

# Folders upload
#uploads/*
#uploads/teams/*
uploads/albums/*
uploads/artists/*
uploads/songs/*
uploads/users/*

# exception to the rule
!uploads/.keep 
# exception
!uploads/albums/.keep 
!uploads/artist/.keep 
!uploads/songs/.keep 
!uploads/users/.keep 
